@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
    background-color: #fff;
}
a{
    color: #333;
}
section{
    width: 100%;
    /* background-color: #F8EDE3; */
}

/* 글자영역 */

.text-center{
    text-align: center;
}

.row{
    display: flex;
}
.col-center{
    justify-content: center;
}
.row-center{
    align-items: center;
}
.container{
    width: 1107px;
    margin:auto;
}
.container_video {
    width: 1107px;
    margin: auto;
}
.col-25{
    width: 25%;
}
.col-50{
    width: 50%;
}
.col-33{
    width: 33.33%;
}
.wrap{
    flex-wrap: wrap;
}
.section02 img{
    width: 100%;
}