@import url('reset.css');
@import url('commons.css');

/* navi */
a {
    text-decoration:none;
}
.header {
    position: relative;
    padding: 18px 2%;
    height: 50px;
    z-index: 99;
    background: #D5D9C4;
}
  
.header .logo {
    float: left;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
  
.header .logo img {
    width: 30%;
}
  
.header .gnb {
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    width: 100%;
    background: rgba(128, 128, 128, 0.4);
}
.header .gnb li a {
    display: block;
    padding: 20px 0 20px 10px;
    font-size: 14px;
    color: #111;
}
  
.header .menu-toggle-btn {
    float: right;
    width: 30px;
    padding-top: 10px;
    cursor: pointer;
}

.header .menu-toggle-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
}
  
.header .menu-toggle-btn span:nth-child(2) {
    margin: 7px 0;
}

/* section01 */

.section01{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 800;
  /* background-image: url(../images/sec01-2.png);
  height: 800px;
  background-size: cover;
  background-position: center; */
  /* background-attachment: fixed; */
}
/* .section01 .bg{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.section01 .bg img{
  width: 100%;
} */
/* .section01::after{
  content: "";
  width: 300px;
  height: 300px;
  background: url(../images/icons/bg-icon1.png)no-repeat;
  position: absolute;
  left: -100px;
  top: 200px;
  z-index: -99;
} */
.txt-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  top: 120px;
  z-index: 99;
}
.sec-01-title{
  font-size: 2rem;
  padding-top: 100px;
  z-index: 99;
}
.sec-01-title span{
  color: #798777;
}
.title{
  font-size: 3rem;
  padding-top: 30px;
}
/* cloud */
.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/mountain1.jpg);
  background-size: cover;
  background-position: bottom;
  /* background-attachment: fixed; */
}
.img img{
  width: 100% !important;
  position: absolute;
  z-index: 98;
}
.banner .clouds{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner .clouds img{
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(8s * var(--i)) linear infinite;
}
@keyframes animate
{
  0%{
      transform: translateX(-100%);
  }
  100%{
      transform: translateX(100%);
  }
}

/* section02 */
.sec-02-title{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 800;
  font-size: 2rem;
  padding-bottom: 50px;
}
/* .section02::after{
  content: "";
  width: 300px;
  height: 300px;
  background: url(../images/icons/bg-icon2.png)no-repeat;
  position: absolute;
  right: 220px;
  top: 950px;
  z-index: -99;
} */
/* section02 slider */
.slider{
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.slider button{
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  /* width: 31px;
  height: 31px; */
  border-radius: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.slider button::before{
  font-family: 'xeicon';
  color: #111;
  font-size: 40px;
    font-weight: 800;
}
.slick-prev{
  left: -50px;
  font-size: 0;
  color: transparent;
}
.slick-prev::before{
  content: "\e93d";
  font-family: 'xeicon';
}
.slick-next{
  right: -50px;
  font-size: 0;
  color: transparent;
}
.slick-next::before{
  content: "\e940";
  font-family: 'xeicon';
}
.slider img{
  width: 50%;
}
.slider-bg{
  position: relative;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-bg{
  width: 30%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
}
/* section02 slider-intro */
.bg1{
  position: relative;
  width: 50%;
}
.intro{
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.bg1:hover .intro{
  bottom: 0;
  height: 100%;
}
.intro-text{
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  letter-spacing: 1px;
  font-weight: 100;
}
/* section02 slider-intro End */

.slider-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-bg h1{
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  color: #fff;
}
.bg1 h1{
  top: 90%;
  left: 2%;
  font-size: 1rem;
}

.slider-bg p{
  position: absolute;
  top: 70%;
  font-size: 14px;
  color: #fff;
  width: 70%;
  text-align: center;
}
.bg1{
  background-image: url('../images/sec2-1.png');
}
.bg2{
  background-image: url('../images/sec2-2.jpg');
}
.bg3{
  background-image: url('../images/sec2-3.jpg');
}
.bg4{
  background-image: url('../images/sec2-4.jpg');
}
.bg5{
  background-image: url('../images/sec2-5.jpg');
}
/* section03 */
.section03{
  margin: 100px 0;
}
.sec-03-title{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-weight: 600;
  font-size: 1.5rem;
  padding: 50px 0;
}
.sec-03-title span{
  color: #798777;
}
/* .section03::after{
  content: "";
  width: 450px;
  height: 450px;
  background: url(../images/icons/bg-icon3big.png);
  position: absolute;
  left: 90px;
  top: 1500px;
  z-index: -99;
} */
/* swiper */
.mySwiper{
  width: 60%;
  height: 350px;
}
.swiper-wrapper{
  align-items: center;
}
.swiper-slide{
  width: 400px;
  height: 250px;
  border-radius: 7px;
}
.swiper-slide img{
  width: 400px;
  height: 250px;
  border-radius: 7px;
}
.swiper-slide-active{
  transform: scale(1.2);
  transition: .4s;
}
.info{
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 0;
  text-align: justify;
  border-radius: 0 0 5px 5px;
}
.info h3{
  font-size: 12px;
  margin-left: 7px;
  font-weight: 100;
  color: #fff;
  padding-bottom: 6px;
}
.info p{
  font-size: 10px;
  margin-left: 7px;
  color: #fff;
  font-weight: 100;
}
.swiper-pagination{
  bottom: 0 !important;
}
/* section04 */

/* .section04::after{
  content: "";
  width: 450px;
  height: 450px;
  background: url(../images/icons/bg-icon4big.png)no-repeat;
  position: absolute;
  right: 180px;
  top: 2100px;
  z-index: -99;
} */
.program {
    display: flex;
    justify-content: center;
    -webkit-box-pack: justify; 
	-ms-flex-pack: end;
    max-width: auto;
    margin-top: 100px;
    padding: 100px;
}
.program ul {
    width: 340px;
    margin-top: 30px;
}
.program .pro_text{
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 50px;
}
.program li {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}
.port_view {
    position: relative;
    width: 1160px;
}
.port_view .list {
    position: relative;
}
.port_view li {
    padding-left: 95px;
}
.port_view li img {
    position: absolute;
    top: 0;
    right: -800px;
    opacity: 0;
}
.port_view figcaption {
    position: relative;
    margin: 10px 0 10px 0;
    padding: 10px 0 15px 25px;
    width: 500px;
    z-index: 2;
    cursor: pointer;
}
.port_view figcaption:first-child {
    margin-top: 0;
}
.port_view figcaption > * {
    display: block;
    color: #959595;
}
.port_view figcaption span {
    font-size: 14px;
    font-weight: 700;
}
.port_view figcaption strong {
    font-size: 24px;
    margin: 5px 0 10px;
    font-weight: 700;
}
.port_view li.active {
    z-index: 3;
}
.port_view li.active img {
    opacity: 2;
    transform: translateY(-10px);
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.port_view li.active figcaption {
    border: 1px solid #000;
    width: 610px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    transition: all 0.5s;
    z-index: 3;
}
.port_view li.active figcaption > * {
    color: #000;
}
/* 지도 */
.customoverlay {
  position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;
}
.customoverlay:nth-of-type(n) {
  border:0;
  box-shadow:0px 1px 2px #888;
}
.customoverlay a {
  display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}
.customoverlay .title {
  display:block;
  text-align:center;
  background:#fff;
  margin-right:35px;
  padding:10px 15px;
  font-size:14px;
  font-weight:bold;
}
.customoverlay:after {
  content:'';
  position:absolute;
  margin-left:-12px;
  left:50%;
  bottom:-12px;
  width:22px;
  height:12px;
  background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

@media (max-width: 1024px){
  .header .gnb li a {
    font-size: 15px !important;
  }
  /* section01 */
  .txt-container {
    top: 40px;
  }
  .sec-01-title {
    font-size: 1.7rem;
  }
  .title {
    font-size: 2.7rem;
  }
  .banner {
    height: 70vh;
  }
  .img img {
    padding-top: 70px;
  }
  /* section03 영역 */
  .section03{
    margin: 100px 0;
  }
  /* section04 영역 */
  .program{
   flex-wrap: wrap;
   margin-top: 0;
  }
  .info_text{
    text-align: center;
    padding-bottom: 50px;
  }
  .info_text li{
    font-size: 24px !important;
  }
  .info_text .pro_text{
    display: none;
  }
  .program .pro_text {
    font-size: 13px;
  }
  .program li {
    font-size: 30px;
  }
  .port_view figcaption strong {
    font-size: 16px;
    margin: 0;
  }
  .port_view li {
    padding-left: 10px;
  }
  .port_view li img {
    right: -430px;
    width: 135%;
  }
  .port_view figcaption {
    width: 300px;
  }
  .port_view li.active figcaption {
    width: 350px;
  }
  /* .section01::after{
    display: none;
  }
  .section02::after{
    display: none;
  }
  .section03::after{
    display: none;
  }
  #section04::after{
    display: none;
  } */

}


@media (max-width: 769px){
  .header .gnb li a {
    color: #fff;
  }
  .header .logo {
    width: 600px;
  }
  .header .logo img {
    width: 15%;
  }
  /* section01 */
  .sec-01-title {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2rem;
  }
  .txt-container {
    top: 90px;
  }
  .banner {
    height: 65vh;
  }
  .img img {
    padding-top: 150px;
  }
  /* section02 */
  .sec-02-title {
    font-size: 1.2rem;
  }
  .bg-bg {
    width: 100%;
  }
  .slider-bg h1 {
    font-size: 15px;
  }
  .slider-bg p {
    font-size: 12px;
  }
  .intro-text {
    font-size: 12px;
  }
  /* section03 */
  .swiper-slide{
    width: 200px;
    height: 250px;
  }
  .swiper-slide img{
    width: 200px;
    height: 250px;
  }
  .info h3 {
    font-size: 10px;
  }
  .info p{
    font-size: 9px;
  }
  /* section04 */
  .port_view li img {
    right: -230px;
  }
}
@media (max-width: 541px){

}

@media (max-width: 415px){
}

@media (max-width: 320px){
}

 /* 태블릿용 CSS */
  
 @media all and (min-width:769px) {
    .header {
      display: grid;
      grid-template-columns: 30% 70%;
      padding: 0px;
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
      background: #D5D9C4;
    }
    .header .logo {
      padding: 10px 20px;
      padding-left: 30px;
    }
    .header nav {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      margin-right: 0px;
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
    }
    .header .gnb {
      /* !important 없으면 btn 접었을 시 display:none되어 gnb가 표시되지 않음 */
      display: grid !important;
      display: block;
      justify-content: end;
      height: 100%;
      grid-template-columns: 15% 15% 15% 15% 0;
      position: static;
      width: auto;
      background: none;
    }
    .header .gnb li {
      float: left;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 0;
    }
    .header .gnb li a {
      color: #111;
      padding: 0;
      font-size: 18px;
    }
    .header .menu-toggle-btn {
      display: none;
    }
  }
  
  /* 컴퓨터용 CSS */
  
  @media all and (min-width:1132px) {
    .header {
      grid-template-columns: 20% 80%;
    }
    .header .logo {
      padding: 10px 20px;
      padding-left: 50px;
    }
    .header .gnb li a {
      font-size: 16px;
    }
  }
  